{% extends "base.html" %}
{% import "macros/ancestors.html" as ctx %}
{% import "macros/nav.html" as nav %}

{% block lang %}{{ ctx::lang(page=page, default=config.default_language) }}{% endblock %}
{% block title %}{{ page.title }} · {{ config.title }}{% endblock %}
{% block measure %}34rem{% endblock %}
{% block breadcrumb %}
  <li><a href="/poems/">Colecciones</a></li>
  {% set col = get_section(path=page.ancestors | last) %}
  <li><a href="{{ col.path }}">{{ col.title }}</a></li>
{% endblock %}
{% block content %}
<article class="interlude-page">
  {{ page.content | safe }}
</article>
{{ nav::page_nav(page=page, config=config) }}
{% endblock %}
